<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level tcode[%X{tenantCode}] %logger:%L - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="mybatis" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="cn.stb" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>