<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stb.stbcrmserver.dao.ContractDao">
    <select id="selectContractByCode" resultType="cn.stb.stbcrmserver.domain.Contract">
        select contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, contract_state, operator_id
        from CRM_CONTRACT
        where contract_state = '1'
        and contract_code = #{contractCode}
    </select>

    <insert id="addContract" parameterType="cn.stb.stbcrmserver.domain.Contract">
        insert into CRM_CONTRACT(contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, operator_id)
        values (#{contractId}, #{contractCode}, #{companyA}, #{companyB}, #{orderCode}, #{orderPrice},
        #{signingDate}, #{deadline}, #{operatorId})
    </insert>

    <update id="updateContract" parameterType="cn.stb.stbcrmserver.domain.Contract">
        update CRM_CONTRACT
        SET
            contract_code = #{contractCode},
            company_a = #{companyA},
            company_b = #{companyB},
            order_code = #{orderCode},
            order_price = #{orderPrice},
            signing_date = #{signingDate},
            deadline = #{deadline}
    </update>

    <select id="findContractById" resultType="cn.stb.stbcrmserver.domain.Contract">
        select contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, contract_state, operator_id
        from CRM_CONTRACT
        where contract_state = '1'
        and contract_code = #{contractId}
    </select>

    <update id="deleteContract">
        update CRM_CONTRACT
        set contract_state = '0'
        where contract_id = #{contractId}
    </update>

    <select id="queryAllContract" parameterType="java.util.Map" resultType="cn.stb.stbcrmserver.domain.Contract">
        SELECT contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, contract_state, operator_id
        FROM CRM_CONTRACT
        WHERE contract_state = '1'
        <if test=" 0 neq staffType ">
            AND (
            operator_id = #{operatorId}
            OR operator_id IN (SELECT cs.staff_id FROM CRM_STAFF cs WHERE cs.operator_id = #{operatorId})
            )
        </if>

        <if test="searchValue != null and searchValue != ''">
            AND (
                ORDER_CODE like CONCAT (concat('%',#{searchValue}),'%')
                or CONTRACT_CODE like CONCAT (concat('%',#{searchValue}),'%')
                or COMPANY_A like CONCAT (concat('%',#{searchValue}),'%')
                or order_code in (
                    select co.order_code from CRM_ORDER co where co.OPERATOR_ID in (
                        select cs.STAFF_ID from CRM_STAFF cs where cs.STAFF_NAME like CONCAT (concat('%',#{searchValue}),'%')
                     )
                )
            )
        </if>
        order by UPDATE_TIME desc
    </select>

    <select id="findContractByOrderCode" parameterType="java.lang.String" resultType="cn.stb.stbcrmserver.domain.Contract">
        SELECT contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
               deadline, contract_state, operator_id
        FROM   CRM_CONTRACT
        WHERE  contract_state = '1'
        AND    order_code = #{orderCode}
    </select>
</mapper>