<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stb.stbcrmserver.dao.UserDao">
    <select id="selectContractByCode" resultType="cn.stb.stbcrmserver.domain.Contract">
        select contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, contract_state, operator_id
        from CRM_CONTRACT
        where contract_state = '1'
        and contract_code = #{contractCode}
    </select>

    <insert id="addContract" parameterType="cn.stb.stbcrmserver.domain.Contract">
        insert into CRM_CONTRACT(contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, operator_id)
        values (#{contractId}, #{contractCode}, #{companyA}, #{companyB}, #{orderCode}, #{orderPrice},
        #{signingDate}, #{deadline}, #{operatorId})
    </insert>

    <update id="updateContract" parameterType="cn.stb.stbcrmserver.domain.Contract">
        update CRM_CONTRACT
        SET
            contract_code = #{contractCode},
            company_a = #{companyA},
            company_b = #{companyB},
            order_code = #{orderCode},
            order_price = #{orderPrice},
            signing_date = #{signingDate},
            deadline = #{deadline}
    </update>

    <select id="findContractById" resultType="cn.stb.stbcrmserver.domain.Contract">
        select contract_id, contract_code, company_a, company_b, order_code, order_price, signing_date,
        deadline, contract_state, operator_id
        from CRM_CONTRACT
        where contract_state = '1'
        and contract_code = #{contractId}
    </select>

    <update id="deleteContract">
        update CRM_CONTRACT
        set contract_state = '0'
        where contract_id = #{contractId}
    </update>
</mapper>