<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stb.stbcrmserver.dao.GoodsDao">
    <select id="queryAllGoods" resultType="cn.stb.stbcrmserver.domain.Goods">
        select goods_id,goods_code,goods_name,goods_price,goods_spe,create_time,update_time,remark
        from CRM_GOODS
        where goods_state = '0'
    </select>

    <insert id="addGoods" parameterType="cn.stb.stbcrmserver.domain.Goods">
        insert into
        CRM_GOODS(goods_id,goods_code,goods_name,goods_price,goods_spe,goods_state,operator_id,remark)
        values
        (#{goodsId},#{goodsCode},#{goodsName},#{goodsPrice},#{goodsSpe},#{goodsState},#{operatorId},#{remark})
    </insert>

    <update id="deleteGoodsById" parameterType="java.lang.String">
        update CRM_GOODS
        set goods_state= '1'
        where goods_id = #{goodsId}
    </update>

    <insert id="addSku" parameterType="java.util.List">
        insert into CRM_SKU(sku_id, sku_code, sku_unit, sku_color, operator_id, remark)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.skuId},
            #{item.skuCode},
            #{item.skuUnit},
            #{item.skuColor},
            #{item.operatorId},
            #{item.remark}
            )
        </foreach>
    </insert>

    <update id="updateSku" parameterType="cn.stb.stbcrmserver.domain.Sku">
        update CRM_SKU
        set sku_code=#{skuCode},
            sku_unit=#{skuUnit},
            sku_color=#{skuColor},
            operator_id=#{operatorId}
        where sku_id=#{sku_id}
    </update>

    <delete id="deleteSkuById" parameterType="java.lang.String">
        delete from CRM_SKU
        where sku_id = #{skuId}
    </delete>

    <select id="selectGoodsBySkuId" parameterType="cn.stb.stbcrmserver.domain.Goods">
        select goods_id,goods_code,goods_name,goods_price,goods_spe,create_time,update_time,remark
        from CRM_GOODS
        where goods_state = '0' and goods_spe=#{sku_id}
    </select>

    <select id="querySkuList" resultType="cn.stb.stbcrmserver.domain.Sku">
        select sku_id, sku_code, sku_unit, sku_color, sku_state, operator_id, remark
        from CRM_SKU
        where sku_state = '1'
    </select>
    
</mapper>