<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stb.stbcrmserver.dao.OrderDao">
    <select id="queryAllOrder" resultType="cn.stb.stbcrmserver.domain.Order" parameterType="java.util.Map">
        select ORDER_ID, ORDER_CODE, USER_ID, USER_NAME, COMPANY, OPERATOR_ID,
        ORDER_STATE, PAY_TYPE, TOTAL_FEE, DOWN_PAY_FEE, FINAL_PAY_FEE, DELIVERY_TIME,
        DELIVERY_NO, PAY_RECORD, CREATE_TIME, UPDATE_TIME, REMARK
        from CRM_ORDER
        where ORDER_STATE != '9'
        <if test=" 0 neq staffType ">
            and (
                operator_id = #{operatorId}
                or operator_id in (select cs.staff_id from CRM_STAFF cs where cs.operator_id = #{operatorId})
                )
        </if>
        <if test="searchValue != null and searchValue != ''">
            and (
            ORDER_CODE like CONCAT (concat('%',#{searchValue}),'%')
            or USER_NAME like CONCAT (concat('%',#{searchValue}),'%')
            or COMPANY like CONCAT (concat('%',#{searchValue}),'%')
            or OPERATOR_ID in (select staff_id from CRM_STAFF where staff_name like CONCAT (concat('%',#{searchValue}),'%') )
            )
        </if>
        order by UPDATE_TIME desc
    </select>
    <insert id="addOrder" parameterType="cn.stb.stbcrmserver.domain.Order">
        INSERT INTO CRM_ORDER(
            ORDER_ID, ORDER_CODE, USER_ID, USER_NAME, COMPANY, OPERATOR_ID, ORDER_STATE
            , PAY_TYPE, TOTAL_FEE, DOWN_PAY_FEE, FINAL_PAY_FEE, DELIVERY_TIME
            , DELIVERY_NO, PAY_RECORD, REMARK
        ) values (
            #{orderId}, #{orderCode}, #{userId}, #{userName}, #{company}, #{operatorId}, #{orderState}
            , #{payType}, #{totalFee}, #{downPayFee}, #{finalPayFee}, #{deliveryTime}
            , #{deliveryNo}, #{payRecord}, #{remark}
        )
    </insert>
    <update id="modifyOrderStateAndDeleteById" parameterType="cn.stb.stbcrmserver.domain.Order">
        update CRM_ORDER
        set
        <if test=" orderState!=null and orderState!='' ">
            order_state = #{orderState}
        </if>
        <if test=" orderDelete!=null and orderDelete!='' ">
            order_delete = #{orderDelete}
        </if>
        where operator_id = #{operatorId}
        and order_id = #{orderId}
    </update>
    <delete id="deleteOrder" parameterType="java.util.Map">
        update CRM_ORDER
        set ORDER_STATE = '9',
            operatorId = #{operatorId}
        where order_id = #{orderId}
    </delete>
    <select id="selectAllUserVoLikeUserName" parameterType="java.lang.String" resultType="cn.stb.stbcrmserver.vo.UserVo">
        select user_id,user_name,company
        from CRM_USER
        where user_name
        like concat('%',#{userName},'%')
    </select>
    <select id="selectOrderByOrderId" parameterType="java.lang.String" resultType="cn.stb.stbcrmserver.domain.Order">
        select ORDER_ID, ORDER_CODE, USER_ID, USER_NAME, COMPANY, OPERATOR_ID,
               ORDER_STATE, PAY_TYPE, TOTAL_FEE, DOWN_PAY_FEE, FINAL_PAY_FEE, DELIVERY_TIME,
               DELIVERY_NO, PAY_RECORD, CREATE_TIME, UPDATE_TIME, REMARK
        from CRM_ORDER
        where ORDER_ID = #{orderId}
    </select>
    <update id="modifyOrderByUserIdAndOperatorId" parameterType="cn.stb.stbcrmserver.domain.Order">
        update CRM_ORDER
        <set>
            <if test="PRODUCT_NAME != null ">PRODUCT_NAME = #{productName},</if>
            <if test="PRODUCT_SPE != null ">PRODUCT_SPE = #{productSpe},</if>
            <if test="ORDER_STATE != null ">ORDER_STATE = #{orderState},</if>
            <if test="PAY_TYPE != null ">PAY_TYPE = #{payType},</if>
            <if test="TOTAL_FEE != null ">TOTAL_FEE = #{totalFee},</if>
            <if test="DOWN_PAY_FEE != null ">DOWN_PAY_FEE = #{downPayFee},</if>
            <if test="FINAL_PAY_FEE != null ">FINAL_PAY_FEE = #{finalPayFee},</if>
            <if test="PAY_PROGRESS != null ">PAY_PROGRESS = #{payProgress},</if>
            <if test="DELIVERY_TIME != null ">DELIVERY_TIME = #{deliveryTime},</if>
            <if test="DELIVERY_NO != null ">DELIVERY_NO = #{deliveryNo},</if>
            <if test="PAY_RECORD != null ">PAY_RECORD = #{payRecord},</if>
            <if test="REMARK != null ">REMARK = #{remake}</if>
        </set>
        where order_id = #{orderId}
    </update>

    <update id="changeOrderState" parameterType="java.util.Map">
      update CRM_ORDER set ORDER_STATE = #{orderState}
      where ORDER_ID = #{orderId}
    </update>

    <update id="updateOrder" parameterType="cn.stb.stbcrmserver.domain.Order">
        update CRM_ORDER
        set
            ORDER_CODE = #{orderCode},
            PRODUCT_NAME = #{productName},
            PRODUCT_SPE = #{productSpe},
            PRODUCT_NUM = #{productNum},
            DELIVERY_NO = #{deliveryNo},
            USER_ID = #{userId},
            USER_NAME = #{userName},
            COMPANY = # {company},
            TOTAL_FEE = #{totalFee},
            DELIVERY_TIME = #{deliveryTime},
            DOWN_PAY_FEE = #{downPayFee},
            PAY_TYPE = #{payType},
            FINAL_PAY_FEE = #{finalPayFee},
            PAY_PROGRESS = #{payProgress},
            PAY_RECORD = #{payRecord},
            REMARK = #{remark}
        where order_id = #{orderId}
    </update>

    <select id="findOrderByCode" parameterType="java.lang.String" resultType="cn.stb.stbcrmserver.domain.Order">
        SELECT ORDER_ID, ORDER_CODE, USER_ID, USER_NAME, COMPANY, OPERATOR_ID, ORDER_STATE
            , PAY_TYPE, TOTAL_FEE, DOWN_PAY_FEE, FINAL_PAY_FEE, DELIVERY_TIME
            , DELIVERY_NO, PAY_RECORD, CREATE_TIME, UPDATE_TIME, REMARK
        FROM CRM_ORDER
        WHERE ORDER_STATE != '9'
        AND ORDER_CODE = #{orderCode}
    </select>

    <insert id="addOrderGoods" parameterType="java.util.List">
        INSERT INTO CRM_ORDER_GOODS(
            ORDER_ID, GOODS_ID, AMOUNT, OPERATOR_ID
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.orderId}, #{item.goodsId}, #{item.amount}, #{item.operatorId})
        </foreach>
    </insert>

    <select id="queryOrderGoodsInfoByOrderIds" parameterType="java.util.List" resultType="cn.stb.stbcrmserver.vo.OrderGoodsItem">
        SELECT og.ORDER_ID, og.AMOUNT, g.GOODS_NAME, s.SKU_UNIT, s.SKU_COLOR
        FROM CRM_ORDER_GOODS og
        LEFT JOIN CRM_GOODS g ON og.GOODS_ID = g.GOODS_ID
        LEFT JOIN CRM_SKU s ON g.SKU_ID = s.SKU_ID
        WHERE og.ORDER_ID in
        <foreach collection="list"  open="("  item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="saveEditOrder" parameterType="cn.stb.stbcrmserver.domain.Order">
        update CRM_ORDER
        set    DOWN_PAY_FEE = #{downPayFee},
               FINAL_PAY_FEE = #{finalPayFee},
               PAY_RECORD = #{payRecord},
               REMARK = #{remark}
        where order_id = #{orderId}
    </update>

    <select id="queryAllDoneOrderByStaffId" resultType="cn.stb.stbcrmserver.domain.Order" parameterType="java.util.Map">
        select ORDER_ID, ORDER_CODE, USER_ID, USER_NAME, COMPANY, OPERATOR_ID,
        ORDER_STATE, PAY_TYPE, TOTAL_FEE, DOWN_PAY_FEE, FINAL_PAY_FEE, DELIVERY_TIME,
        DELIVERY_NO, PAY_RECORD, CREATE_TIME, UPDATE_TIME, REMARK
        from CRM_ORDER
        where ORDER_STATE = '1'
        and (#{startDate} &gt;= update_time and update_time &lt;= #{endDate})
        and OPERATOR_ID = #{operatorId}
    </select>

    <select id="queryOrdersByLikeCode" resultType="cn.stb.stbcrmserver.domain.Order" parameterType="java.util.Map">
        select ORDER_ID, ORDER_CODE, USER_ID, USER_NAME, COMPANY, OPERATOR_ID,
        ORDER_STATE, PAY_TYPE, TOTAL_FEE, DOWN_PAY_FEE, FINAL_PAY_FEE, DELIVERY_TIME,
        DELIVERY_NO, PAY_RECORD, CREATE_TIME, UPDATE_TIME, REMARK
        from CRM_ORDER
        where ORDER_STATE != '9'
        <if test=" 0 neq staffType ">
            and (
            operator_id = #{operatorId}
            or operator_id in (select cs.staff_id from CRM_STAFF cs where cs.operator_id = #{operatorId})
            )
        </if>
        <if test="orderCode != null and orderCode != ''">
            and (
            ORDER_CODE like CONCAT (concat('%',#{orderCode}),'%')
            )
        </if>
        order by UPDATE_TIME desc
    </select>

    <update id="deleteOrderGoodsByOrderId" parameterType="java.lang.String">
        UPDATE CRM_ORDER_GOODS
        SET STATE = '0'
        WHERE ORDER_ID = #{orderId}
    </update>

    <select id="queryOrderGoodsByOrderIds" parameterType="java.util.List" resultType="cn.stb.stbcrmserver.domain.OrderGoods">
        SELECT ORDER_ID, GOODS_ID, AMOUNT, OPERATOR_ID, CREATE_TIME, UPDATE_TIME
        FROM CRM_ORDER_GOODS
        WHERE ORDER_ID in
        <foreach collection="list"  open="("  item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>