<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stb.stbcrmserver.dao.RightDao">
    <select id="queryStaffRightByStaffId" parameterType="java.lang.String" resultType="cn.stb.stbcrmserver.domain.StaffRight">
        select STAFF_ID, RIGHT_ID, RIGHT_STATE, OPERATOR_ID, CREATE_TIME, UPDATE_TIME, REMARK
        from CRM_STAFF_RIGHT
        where STAFF_ID = #{staffId}
    </select>

    <select id="queryRightsByRightIds" parameterType="java.util.List" resultType="cn.stb.stbcrmserver.domain.Right">
        select RIGHT_ID, RIGHT_CODE, RIGHT_NAME, RIGHT_STATE, RIGHT_DESC, CREATE_TIME, UPDATE_TIME, REMARK
        from CRM_RIGHT
        where RIGHT_ID in
        <foreach collection="list"  open="("  item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryRightMenusByRightIds" parameterType="java.util.List" resultType="cn.stb.stbcrmserver.domain.RightMenu">
        SELECT RIGHT_ID, MENU_ID, CREATE_TIME, UPDATE_TIME, REMARK
        FROM CRM_RIGHT_MENU
        where RIGHT_ID in
        <foreach collection="list"  open="("  item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="queryMenusByMenuIds" parameterType="java.util.List" resultType="cn.stb.stbcrmserver.domain.Menu">
        SELECT `MENU_ID`, `MENU_NAME`, `MENU_STATE`, `MENU_DESC`, `MENU_URL`, `CREATE_TIME`, `UPDATE_TIME`, `REMARK`
        FROM CRM_MENU
        where MENU_ID in
        <foreach collection="list"  open="(" close=")"    item="item" separator="," >
             #{item, jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="queryRightIdsByRightCodes" parameterType="java.util.List" resultType="java.lang.String">
        select RIGHT_ID
        from CRM_RIGHT
        where RIGHT_CODE in
        <foreach collection="list" open="(" item="item" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getAll" resultType="cn.stb.stbcrmserver.vo.RightVo">
        select right_id,right_name
        from CRM_RIGHT
    </select>

    <insert id="addStaffRight" parameterType="java.util.List">
      insert into CRM_STAFF_RIGHT(STAFF_ID, RIGHT_ID, RIGHT_STATE, OPERATOR_ID, REMARK)
      values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.staffId},
            #{item.rightId},
            #{item.rightState},
            #{item.operatorId},
            #{item.remark}
            )
        </foreach>
    </insert>
</mapper>