<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stb.stbcrmserver.dao.UserDao">

    <insert id="addUser" parameterType="cn.stb.stbcrmserver.domain.User">
        insert into
        CRM_USER(user_id,user_code,user_name,nation,user_phone,user_telephone,user_email,company,company_address,company_web,
        post,user_state,user_type,operator_id,subtotal,remark, region)
        values (#{userId},#{userCode},#{userName},#{nation},#{userPhone},#{userTelephone},#{userEmail},#{company},#{companyAddress},
        #{companyWeb}, #{post},#{userState},#{userType},#{operatorId},#{subtotal},#{remark}, #{region})
    </insert>

    <update id="modifyUser" parameterType="cn.stb.stbcrmserver.domain.User">
        update CRM_USER
        <set>
            <if test="userState!=null">
                user_state=#{userState}
            </if>
            <if test="userType!=null">
                user_type=#{userType}
            </if>
        where user_id = #{userId}
        </set>
    </update>

    <update id="deleteUserById" parameterType="java.util.Map">
        update CRM_USER
        set USER_STATE = '9',
            OPERATOR_ID = #{operatorId}
        where user_id = #{userId}
    </update>

    <select id="queryUserByOperatorIdAndUserType" resultType="cn.stb.stbcrmserver.domain.User"  parameterType="java.util.Map">
        select user_id,user_code,user_name,nation,user_phone,user_telephone,user_email,company,company_address,company_web,
        post,user_state,user_type,operator_id,DATE_FORMAT(follow_time, '%Y-%m-%d') as followTime,subtotal,remark, region
        from CRM_USER
        where user_state = '1'
        <if test=" 0 eq userType">
            and user_type = '0'
        </if>
        <if test="1 eq userType">
            and user_type = '1'
            <if test="0 neq staffType">
                and  (operator_id = #{operatorId}
                      or operator_id in (select cs.staff_id from CRM_STAFF cs where cs.operator_id = #{operatorId})
                )
            </if>
        </if>
        <if test="searchValue != null and searchValue != ''">
          and (
              user_name like CONCAT (concat('%',#{searchValue}),'%')
              or user_phone like CONCAT (concat('%',#{searchValue}),'%')
              or company like CONCAT (concat('%',#{searchValue}),'%')
              or region like CONCAT (concat('%',#{searchValue}),'%')
          )
        </if>
        order by update_time desc
    </select>

    <select id="selectUserByLike" resultType="cn.stb.stbcrmserver.domain.User" parameterType="java.lang.String">
        select user_id,user_name,user_phone,company,user_email,operator_id,USER_TYPE,USER_STATE,CREATE_TIME,UPDATE_TIME,remark
        from CRM_USER
        where user_state = 1
        and
        (user_name like CONCAT (concat('%',#{s}),'%')
        or user_phone like CONCAT (concat('%',#{s}),'%')
        or company like CONCAT (concat('%',#{s}),'%')
        or user_email like CONCAT (concat('%',#{s}),'%')
        or remark like CONCAT (concat('%',#{s}),'%'))
        order by update_time desc
    </select>

    <select id="findUserById" parameterType="java.lang.String" resultType="cn.stb.stbcrmserver.domain.User">
        select user_id,user_code,user_name,nation,user_phone,user_telephone,user_email,company,company_address,company_web,
        post,user_state,user_type,operator_id,subtotal,remark
        from CRM_USER
        where user_id = #{userId}
    </select>

    <update id="changeUserType" parameterType="java.util.Map">
        update CRM_USER
        set user_type = '0', operator_id = #{operatorId}
        where user_id = #{userId}
    </update>

    <update id="receiveUser" parameterType="java.util.Map">
        update CRM_USER
        set user_type = '1', operator_id = #{operatorId} ,follow_time = now()
        where user_id = #{userId}
    </update>

    <select id="findUserByUserCode" resultType="cn.stb.stbcrmserver.domain.User">
        select user_id,user_code,user_name,nation,user_phone,user_telephone,user_email,company,company_address,company_web,
        post,user_state,user_type,operator_id,subtotal,remark
        from CRM_USER
        where user_code = #{userCode}
        and user_state = '1'
    </select>

    <select id="selectUserByUserId" resultType="cn.stb.stbcrmserver.domain.User">
        select user_id,user_code,user_name,nation,user_phone,user_telephone,user_email,company,company_address,company_web,
        post,user_state,user_type,operator_id,subtotal,remark,region
        from CRM_USER
        where user_id = #{userId}
    </select>

    <update id="updateUserRemark" parameterType="cn.stb.stbcrmserver.domain.User">
        update CRM_USER
        set remark = #{remark}
        where user_id = #{userId}
    </update>
</mapper>